<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="header" th:fragment="header">
<a href='/'>Back to GameStudio</a>
</div>
<div class="rating_puzzle" th:fragment="rating_puzzle">
Average rating: <span th:text="${#numbers.formatDecimal(rating,1,2)}"/>/5
</div>

<div class="rating_mines" th:fragment="rating_mines">
Average rating: <span th:text="${#numbers.formatDecimal(rating,1,2)}"/>/5

</div>
<div class="rating_guessNumber" th:fragment="rating_guess">
Average rating: <span th:text="${#numbers.formatDecimal(rating,1,2)}"/>/5

</div>

<div class="rating_sudoku" th:fragment="rating_sudoku">
Average rating: <span th:text="${#numbers.formatDecimal(rating,1,2)}"/>/5

</div>

<div th:fragment="nice_footer">
<span th:if='${@userController.logged}'>
Logged as <span th:text='${@userController.loggedPlayer?.login}'/>


<a href= "/logout">Logout</a>
</span>

<span th:if='${not @userController.logged}'>
<a href='/user'>Login</a>
or
<a href='/user'>Register</a>
</span>
</div>
</body>

</html>