<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/minesTable.css" />
<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/bootstrap.css" />

<meta charset="ISO-8859-1"></meta>
<title th:text='${game}'/>
</head>
<body>
	<header>
		<div th:replace="fragments::header" />
		<div th:replace="fragments::nice_footer" />
		<h2 th:text='${game}'/>
	</header>
	<div th:replace="fragments::addRating_table" />
	
	<div th:replace="fragments::rating_mines" />

<div th:replace="fragments::favorite_table" />
			
				<div class='pic'>
					<img src="/pictures/guess.jpg" style="visibility: hidden;" />
					<form class='frmAsk' action="/guessNumber_ask.html">
						<input type="text" name="guess" placeholder='Input'
							autofocus='autofocus' /><br /> <input type="submit"
							value="Guess" />
						<p class="difficultSize"
							th:utext='${controller.difficult}' />
					</form>
					<p class='textBottom' th:utext='${controller.message}' />
				</div>


				<div class='buttons'>
					<button onclick="window.location.href='/guessNumber'">New
						Game</button>
					<button onclick="window.location.href='/guessNumber_easy'">Easy</button>
					<button onclick="window.location.href='/guessNumber_hard'">Hard</button>
				</div>
	          <br/>
			<hr />
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div th:replace="fragments::score_table" />
			</div>
			<div class="col-4">
		<div th:replace="fragments::comment_table" />
				
			</div>
			<div class="col-4">
				<div th:replace="fragments::addComment_table" />
			</div>
		</div>
	</div>
</body>
</html>