<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>GameStudio</title>

<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/myCssStyle.css" />
<link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body>
	<header>

		<h2>Welcome in GameStudio</h2>
		<div class="menu">
			<a href="about.html">About</a>
			<div id='right' th:replace="fragments::nice_footer" />
		</div>
		<span th:if="${admin}">
		<a href="admin.html">
		Admin</a>
		</span>
		
             
	</header>
	<hr />
	<span th:if="${@userController.logged}">
		<h5>Favorite Games</h5>
		<div  th:replace="fragments::getGames(${favorite1})" /> 
		
		<hr />
	</span>
	<h5>All Games</h5>
	
	<div  th:replace="fragments::getGames(${games})" />

	
	
</body>
</html>
