<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>GameStudio</title>

<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/myCssStyle.css" />
<link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body>
	<header>
	
		<h2>Welcome in GameStudio</h2>
		<div class="menu">
			<a href="about.html">About</a>
			<div id='right' th:replace="fragments::nice_footer" />
		</div>

	</header>
	<hr />
	<span th:if="${@userController.logged}">
	<h5>Favorite Games</h5>
	<div class="container">	
		<div class="row">
			<div class="col-3">	
	   </div>
	   <div class="col-9">
	  <table>
	<th th:each='favorite : ${favorite}'>
	<tr>
	<a th:href='${favorite.game}'><img th:src='${"pictures/" + favorite.game + ".jpg" }' height="100" width="100"/> 
	</a>
	 	  </tr>   
	     </th>
	    </table>
	   </div>
	   
	</div>
	</div>
	<hr/>
	</span>
	<h5>All Games</h5>
	
	<div class="container">
	
		<div class="row">
			<div class="col-3">
				<img src="pictures/mines.jpg" title="mines" alt="mines" />
			</div>

			<div class="col-3">
				<h5>Minesweeper</h5>
				<a href="mines.html">Play</a>
				<br/>
				Average rating: <span th:text="${#numbers.formatDecimal(avgRatingMines,1,2)}"/>/5

			</div>
			
			<div class="col-6">
				<h5><i>Minesweeper is a single-player puzzle video game. The objective of the game is to clear a rectangular board containing hidden "mines" or bombs without detonating any of them, with help from clues about the number of neighboring mines in each field.</i></h5>
				

			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-3">
				<img src="pictures/puzzle.jpg" title="15puzzle" alt="15puzzle" />
			</div>

			<div class="col-3">
				<h5>15Puzzle</h5>
				<a href="puzzle.html">Play</a>
              <br/>
				Average rating: <span th:text="${#numbers.formatDecimal(avgRatingPuzzle,1,2)}"/>/5
			</div>
			<div class="col-6">
				<h5><i>The 15-puzzle is a sliding puzzle that consists of a frame of numbered square tiles in random order with one tile missing.The object of the puzzle is to place the tiles in order by making sliding moves that use the empty space.</i></h5>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-3">
				<img src="pictures/guessNumber.jpg" title="guess" alt="guess" />
			</div>
			<div class="col-3">
				<h5>Guess Number</h5>
				<a href="guessNumber.html">Play</a>
<br/>
				Average rating: <span th:text="${#numbers.formatDecimal(avgRatingGuess,1,2)}"/>/5
			</div>
			<div class="col-6">
				<h5><i>Guess the secret number in the magician's hat. If your guess is too high or too low, you'll get a hint.</i></h5>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-3">
				<img src="pictures/sudoku.jpg" weight='200' height='200'  title="guess" alt="guess" />
			</div>
			<div class="col-3">
				<h5>Sudoku</h5>
				<a href="sudoku.html">Play</a>
<br/>
				Average rating: <span th:text="${#numbers.formatDecimal(avgRatingSudoku,1,2)}"/>/5
			</div>
			<div class="col-6">
				<h5><i>Sudoku is a logic-based, combinatorial number-placement puzzle. The objective is to fill a 9 x 9 grid with digits so that each column, each row, and each of the nine 3 x 3 subgrids that compose the grid (also called "boxes", "blocks", or "regions") contains all of the digits from 1 to 9. The puzzle setter provides a partially completed grid, which for a well-posed puzzle has a single solution.</i></h5>
			</div>
		</div>
	</div>
	<hr />

</body>
</html>
