<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/minesTable.css" />
<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/bootstrap.css" />

<meta charset="ISO-8859-1"></meta>
<title th:text='${game.name}'/>
</head>
<body>
	<header>
		<div th:replace="fragments::header" />
		<div th:replace="fragments::nice_footer" />
		<h2 th:text='${game.name}'/>
	</header>
	<div th:replace="fragments::addRating_table" />
	
	<div th:replace="fragments::rating_mines" />

<div th:replace="fragments::favorite_table" />


	<p th:utext='${controller.render()}' />
<div class='center'>
	<p th:utext='${controller.message}' />
</div>

	<div class='buttons'>
		<button onclick="window.location.href='/mines'">New Game</button>
		<button onclick="window.location.href='/mines_easy'">Easy</button>
		<button onclick="window.location.href='/mines_hard'">Hard</button>
		<button onclick="window.location.href='/mines_mark'">
			Action : <span th:if="${controller.marking}">Mark</span> <span
				th:if="${not controller.marking}">Open</span>
		</button>
	</div>
	<br />
	<hr />
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div th:replace="fragments::score_table" />

			</div>

			<div class="col-4">
		<div th:replace="fragments::comment_table" />
				
			</div>
			<div class="col-4">
				<div th:replace="fragments::addComment_table" />
			</div>
		</div>
	</div>
</body>
</html>