<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/minesTable.css" />
<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/bootstrap.css" />

<meta charset="ISO-8859-1"></meta>
<title th:text='${game}'/>
</head>
<body>
	<header>
		<div th:replace="fragments::header" />
		<div th:replace="fragments::nice_footer" />
		<h2 th:text='${game}'/>
	</header>
	<div th:replace="fragments::addRating_table" />
	<div th:replace="fragments::rating_mines" />
     <div th:replace="fragments::favorite_table" />
<div class='buttons'>
		<button onclick="window.location.href='/sudoku_setBack'">Step Back</button>
		</div>


<table class='centerSudoku'>
	
<tr><td>
<a href='/sudoku_set?value=1'>1</a>
</td>
<td>
<a href='/sudoku_set?value=2'>2</a>
</td>
<td>
<a href='/sudoku_set?value=3'>3</a>
</td>
<td>
<a href='/sudoku_set?value=4'>4</a>
</td>
<td>
<a href='/sudoku_set?value=5'>5</a>
</td>
<td>
<a href='/sudoku_set?value=6'>6</a>
</td>
<td>
<a href='/sudoku_set?value=7'>7</a>
</td>
<td>
<a href='/sudoku_set?value=8'>8</a>
</td>
<td>
<a href='/sudoku_set?value=9'>9</a>
</td>
</tr>
</table>


<span th:utext='${controller.render()}' />
 	 
	<div class='buttons'>
		<button onclick="window.location.href='/sudoku'">New Game</button>
		<span th:text='${@sudokuController.checkMessage}' />
		
	</div>
	<br />
	<hr />
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div th:replace="fragments::score_table" />

			</div>

			<div class="col-4">
		<div th:replace="fragments::comment_table" />
				
			</div>
			<div class="col-4">
				<div th:replace="fragments::addComment_table" />
			</div>
		</div>
	</div>
</body>
</html>